* {
    margin: 0;
    padding: 0;
}

/*
    color footer 1: #4A5568;
    color footer 2: #2D3748;*/
body {
    background-color: #EDF2F7;
}

header {
    width: 100%;
    height: 80px;
    background-color: #2B6CB0;
}